#!/bin/bash

ifne () {
  head=$(dd bs=1 count=1 2>/dev/null; echo a)
  head=${head%a}
  if [ "x$head" != x"" ]; then
    { printf %s "$head"; cat; } | "$@"
  fi
}

MAILTO={{ magesec_mail }}
SCANDIRS="/home/{{ ansible_user }}/ /storage/{{ ansible_user }}/"

MWSCAN=/home/{{ ansible_user }}/python/builds/{{ python_version }}/bin/mwscan
MWSCANLOCK=/home/{{ ansible_user }}/.mwscan.lock
MWSCANLOG=/home/{{ ansible_user }}/mwscan.log
MWSCANFROM="From: Malware Scanner <{{ ansible_user }}@occitech.eu>"
MWWHITELIST=/home/{{ ansible_user }}/mwscan_whitelist.txt

touch $MWWHITELIST

for SCANDIR in $SCANDIRS; do
  flock -n $MWSCANLOCK $MWSCAN -w $MWWHITELIST --ruleset magesec --quiet $SCANDIR  | tee -a $MWSCANLOG | ifne mail -s "[MWSCAN] Malware found on {{ ansible_user }} account on $(hostname) server" -a "$MWSCANFROM" $MAILTO
done
