commands:
  N98\Magento\Command\Installer\InstallCommand:
    installation:
      defaults:
        currency: {{ magento_currency }}
        locale: {{ magento_locale }}
        timezone: {{ magento_timezone }}
        use_rewrites: {{ magento_use_rewrites }}
        session_save: {{ magento_session_save }}
        admin_username: {{ magento_admin_username }}
        admin_firstname: {{ magento_admin_firstname }}
        admin_lastname: {{ magento_admin_lastname }}
        admin_password: {{ magento_admin_password }}
        admin_email: {{ magento_admin_email }}
        encryption_key: {{ magento_encryption_key }}
