[program:{{ elastic_name }}]
command={{ elastic_folder }}/{{ elastic_name }}/bin/elasticsearch
socket=tcp://{{ loopback_adress }}:{{ elastic_port }}
autostart=true
autorestart=true
startsecs=5
stopwaitsecs=5
stopasgroup=true
killasgroup=true
environment=JAVA_HOME="{{ java_home }}",ES_JAVA_OPTS="-Xms{{ elastic_memory }} -Xmx{{ elastic_memory }}",ES_HEAP_SIZE=""
