#!/bin/bash

if [ $# -eq 0 ]
  then
    echo "No arguments supplied"
    echo "Usage: script.sh /path/to/magento"
    exit 1;
fi

ROOT_DIR=$1
if [ -d $1/media/css_secure ]; then
  find $1/media/css_secure -name *.css -exec /home/{{ ansible_user }}/bin/minify -o '{}' '{}' \;
fi

if [ -d $1/media/css ]; then
  find $1/media/css -name *.css -exec /home/{{ ansible_user }}/bin/minify -o '{}' '{}' \;
fi

if [ -d $1/media/js ]; then
  find $1/media/js -name *.js -exec /home/{{ ansible_user }}/bin/minify -o '{}' '{}' \;
fi
