#!/bin/bash

if [ $# -eq 0 ]
  then
    echo "No arguments supplied"
    echo "Usage: script.sh /path/to/magento2"
    exit 1;
fi

ROOT_DIR=$1
if [ -d $1/pub/static ]; then
  find $1/pub/static -name *.css -exec /home/{{ ansible_user }}/bin/minify -o '{}' '{}' \;
  find $1/pub/static -name *.js -exec /home/{{ ansible_user }}/bin/minify -o '{}' '{}' \;
fi
