[program:{{ airflow_name }}-webserver]
command=/home/{{ ansible_user }}/.virtualenvs/airflow/bin/airflow webserver
socket=tcp://{{ loopback_adress }}:{{ airflow_port }}
stopsignal=QUIT
stopasgroup=true
autorestart=true
environment=AIRFLOW_HOME="/home/{{ ansible_user }}/airflow",HOME="/home/{{ ansible_user }}",VIRTUAL_ENV="/home/{{ ansible_user }}/.virtualenvs/airflow",PATH="/home/{{ ansible_user }}/.virtualenvs/airflow/bin:$%(ENV_PATH)s"

[program:{{ airflow_name }}-scheduler]
command=/home/{{ ansible_user }}/.virtualenvs/airflow/bin/airflow scheduler
stopsignal=QUIT
stopasgroup=true
killasgroup=true
autorestart=true
environment=AIRFLOW_HOME="/home/{{ ansible_user }}/airflow",HOME="/home/{{ ansible_user }}",VIRTUAL_ENV="/home/{{ ansible_user }}/.virtualenvs/airflow",PATH="/home/{{ ansible_user }}/.virtualenvs/airflow/bin:$%(ENV_PATH)s"
