##
## Core
##

data_directory = '{{ pgsql_folder }}/var/lib/postgresql'
external_pid_file = '{{ pgsql_folder }}/run/postgresql/main.pid'
unix_socket_directories = '{{ pgsql_folder }}/run/postgresql'

hba_file = '{{ pgsql_folder }}/etc/pg_hba.conf'
ident_file = '{{ pgsql_folder }}/etc/pg_ident.conf'

##
## Network
##

listen_addresses = '{{ loopback_adress }}'
port = {{ pgsql_port }}
max_connections = 20


##
## SSL
##

ssl = false

##
## Tuning
##

synchronous_commit = off
autovacuum_naptime = 2h
stats_temp_directory = '{{ pgsql_folder }}/run/shm'



##
## Logging
##

log_destination = 'stderr'
logging_collector = on
log_directory = '{{ pgsql_folder }}/var/log/'
log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'
log_line_prefix = '%r %u %d: '
log_min_messages = LOG


##
## Misc default
##

datestyle = 'iso, mdy'
lc_messages = 'C'
lc_monetary = 'C'
lc_numeric = 'C'
lc_time = 'C'
default_text_search_config = 'pg_catalog.english'


##
## Compatibility with previous versions
##

escape_string_warning = off
standard_conforming_strings = off


include_dir 'conf.d'
